* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.maines_box {
  display: flex;
  margin-top: 20%;
  justify-content: space-between;

}
.box1 {
  width: 60%;
  margin: auto;
}
.ads {
  width: 100%;
  height: 600px;
  text-align: center;
  margin-top: 4em;
  border-radius: 10px;
  background-color: peachpuff;
}
a {
  text-decoration: none;
  color: black;
}
.Headtag {
  font-weight: bolder;
  font-size: 34px;
  position: relative;
  top:-63px;
  text-decoration: underline;
  text-decoration-color: red;

}
.box2 {
  min-height: 1000px;
  width: 30%;
  margin-top: -87px;
  margin-right: 3%;
  box-sizing: border-box;
}

.head {
  position: relative;
  top: 14px;
  left: 30px;
  text-decoration: underline;
  text-decoration-color: red;
}
.news_card123 {
  margin-top: -11%;
}
.nav_link {
  text-decoration: none;
}
.news_box {
  display: flex;
  width: 90%;
  height: auto;
  box-sizing: border-box;
  border-radius: 10px;
  margin: auto;
  margin-top: 2%;
}
.img_card {
  height: 180px;
  width: 250px;
  border-radius: 10px;
  margin-top: 3%;
}
.head_card {
  display: flex;
  width: 80%;
  height: 100%;
  margin-left: 2%;
  flex-direction: column;
  box-sizing: border-box;
}
.news_box:hover {
  box-shadow: 5px 5px 5px 5px gray;
}
.travel_details {
  color: black;
}
.travel {
  color: black;
}
.top_post_img1 {
  height: 200px;
  width: 80%;
  margin-top: 5%;
  border-radius: 10px;
  margin-left: 10%;
}
.top_post {
  border-radius: 10px;
}
.top_post:hover {
  box-shadow: 5px 5px 5px 5px gray;
}
.top_post_data1 {
  display: flex;
  justify-content: space-between;
}
.top_post2 {
  width: 100%;
  /* border: 1px solid black; */
  height: auto;
  display: flex;
  margin-top: 8%;
  border-radius: 10px;
}
.top_post_img2 {
  height: 100px;
  width: 120px;
  margin-top: 10%;
  border-radius: 10px;
}
.top_post_data2 {
  margin-left: 5%;
}
.top_post2:hover {
  box-shadow: 5px 5px 5px 5px gray;
}
.top-post-count {
  font-size: 2.2em;
  margin-right: 3%;
  text-align: center;
  opacity: 20%;
  padding-right: 5%;
}

@media (min-width: 270px) and (max-width: 580px) {
  .maines_box {
    flex-direction: column;
    justify-content: center;
  }
  .head_card {
    flex-direction: column;
  }
  .head{
    width:50%;
    top:-15px;
  }
  .news_box {
    flex-direction: column;
    margin-top: 20px;
  }
  .news_card123 {
    margin-top: -53%;
  }
  .img_card {
    height: 180px;
    width: 250px;
    margin-left: 4%;
    margin-top: 23px;
  }
  .top_post_data1 h3 {
    position: relative;
    left: 18px;
    top: -7px;
  }
  .top_post_img1 {
    margin-top: 10%;
  }
  .top_post_img2 {
    left: 14px;
  }
  .box2 {
    width: 95%;
    margin-top: 15%;
    margin-left: auto;
  }
  .box1 {
    margin-top: 52%;
    width: 80%;
    margin-left: 12%;
  }
  .ads{
    width: 91%;
  }
  .Headtag{
    top:-147px;
  }
  .adv {
    display: none;
  }
}

@media (min-width: 580px) and (max-width: 1000px) {
  .maines_box {
    justify-content: center;
  }
  .news_card123{
    margin-top: -2%;
  }
  .head_card {
    flex-direction: column;
  }
  .news_box {
    flex-direction: column;
  }
  .img_card {
    margin-left: 4%;
  }
  .head{
    top:-3px;
  }
  .box2{
    margin-top: -16px;
    margin-right: 12%;
  }
  .Headtag{
    top:-16px;
  }
  .ads{
    width:129%;
  }
}
p {
  color: black;
}
