#get_start {
    border: 2px solid blue;
    color: blue;
    font-weight: bold;
    height: 50px;
    width: 200px;
    position: relative;
    left: 12px;
    top:7%;
  }
  .tthe {
    position: relative;
    top: -35px;
    display: inline-block;
    left: -6px;
    color: #000000;
    font: normal 33px/15px Montserrat;
    transform: matrix(0, -1, 1, 0, 0, 0);
  }
  .nei {
    top: -30px;
    left: -15px;
    display: inline-block;
    position: relative;
    color: #000000;
    font: normal normal bold 60px/123px Montserrat;
  }
  .header2 {
    display: flex;
    justify-content: space-between;
    padding: 1em 8em;
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: #fff;
    height: 82px;
    border-bottom: 5px solid rgb(175, 174, 174);
  }
  .description {
    text-align: justify;
    left: 5px;
    position: relative;
  }
  .descrheading {
    position: relative;
    top: -168px;
    left: 458px;
    width: 57vw;
    text-align: justify;
  }


.Card_Header{
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: white;
    padding: 1em 8em;
    box-shadow: 0px 3px 6px #00000029;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dynamicContainer2{
    width: 100%;
    padding: 0.2em 5em 3em;
    background-color: #FAFAFA;
    margin-top: 20px;
    z-index:4;
}
.footerContainer {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 25%;
    border-radius: 20px;
    padding: 10px;
    &:hover {
        transition: all .2s ease;
        box-shadow: 0 0 10px rgba(33, 33, 33, 0.584);
    }
    & > img{
        border-radius: 20px;
        height: 11rem;
        object-fit: cover;
    }
  }
  .footercards {
    display: flex;
    justify-content: space-between;
    border-top: 3px solid #f0f0f0;
    padding-top: 10px;
  }
  .dynamicMoreItems {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 1em 0;
   
  }
  .cardImage {
    width: 300px;
    height: 150px;
  }
  .cardImage img {
    width: 165px;
    height: 96%;
    object-fit:cover;
    border-radius: 10px;
  }
  .cardHeading {
    font-size: 1rem;
    font-weight: 500;
    color: #404040;
    overflow: hidden;
    height: 4em;
  }

#shareIcon {
    display: flex;
    flex-direction: column;
    position: fixed;
    float: left;
    z-index: -1;
    gap: 1.5rem;
    top: 50vh;
    left:44px;
    padding-right: 10px;
  }
.Likebox , .Sharebox{
    display: flex;
    align-items: center;
    color: #939393;
    gap: 1rem;
}
#back {
    background: #fff;
    border: 2px solid #212529;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 0 rgba(59,58,58,.5), 7px 7px 20px 0 rgba(0,0,0,.1), 4px 4px 5px 0 rgba(0,0,0,.1);
    color: #212529;
    cursor: pointer;
    font-family: Lato,sans-serif;
    font-weight: 500;
    height: 40px;
    position: relative;
    top: 106px;
    left:61px;
    width: 89px;
    z-index: 0;
  }
.Likebox img,
.Sharebox img {
  width: 38px;
  height: 102px;
  border: none;
  margin-top: -48px;
}

.Content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 60%;
    position: relative;
    top:55px;
    margin: 0px 15em;
}

.Content_Title{
    font-size: 2rem;
    font-weight: 500;
    text-align: justify;
}

.Author{
    display: flex;
    justify-content: space-between;
}
.userIcon{
    display: flex;
   border: none;
}
.userIcon img{
    width: 80px;
    height: 75px;
    border: none;
}
.date {
    left: 21px;
    top:22px;
    position: relative;
  }
  .logos{
  font-size: 25px;
  margin-left: 401px;
  margin-top: 17px;
  display: flex;
 
  gap: 10px;
}
  .icon2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 584px;
    gap: 20px;
    
  }
  .icon2 img {
    width: 80px;
    height: 60px;
    left: -183px;
    top: 1px;
  }


.Content_Image{
    margin: 10px 0px;
    object-fit: cover;
    width: 100%;
    height: 333px;
    border-radius: 5px;
}
.Content_Desc .para{
    margin-bottom: 10px;
}
.Content_Desc{
    position: relative;
    top: 161px;
    margin: auto;
    left: -459px;
}


@media only screen and (min-width:280px) and (max-width:800px){
  .header2{
    padding: 1em 2em;
    & #get_start{
        font-size: 1.2em;
        left:-10px;
        width:121px;
    }
}
#back{
   left:129px;
    top: 74px;
    width: 100px;
}
    #shareIcon{
        display: none;
       }
    .Content{
        width: 85%;
        margin: auto;
    }
    
    .Content_Image{
        width:208px;
        height:173px;
       margin-left: 12%;
    }
    .description{
        left:-12px;
        top:-15px;
    }
    .descrheading{
      display: none;
    }
    .Likebox{
      display: none;
    }
    .icon2{
        top:26px;
        left:-48px;
        width: 265px;
        position: relative;
    }
    .Content_Title{
        font-size: 1.5rem;
        position: relative;
        top:22px;
    }
    .cardHeading{
        width:54vw;
        left:-12px;
        top:-11px;
        height:10%;
        position: relative;
    }

    .Social_Sites{
        align-self: flex-start;
        height: 3em;
        & svg{
            height: 1.5em;
            width: 1.5em;
        }
    }
    footer{
        display:none;
    }
    .dynamicContainer2{
      margin-top: 118px;
    }
   .Author{
    flex-direction: column-reverse;
   }
   .userIcon{
    gap: 1.5rem;
   }
   .logos{
    align-self: flex-end;
   }
    .footercards{
      max-width: 2%;
    flex-direction: column;
      display: flex;
      justify-content: center;
      align-items: center;
  }
}
