header {
  position: fixed;
  background-color: white;
  box-shadow: 0px 3px 6px #00000029;
  width: 100%;
  top: 0;
  z-index: 1;
  margin-top: -1em;
  padding: 0 7rem;
}
#the {
  position: relative;
  top: 0px;
  display: inline-block;
  left: 276px;
  text-align: center;
  font: normal 33px/15px Montserrat;
  transform: matrix(0, -1, 1, 0, 0, 0);
}
#sir {
  top: 0px;
  left: 261px;
  display: inline-block;
  position: relative;
  text-align: center;
  color: #000000;
  font: normal normal bold 60px/123px Montserrat;
}
.Burger_Icon {
  display: none;
}
.DropDown,
.Navbar {
  margin-top: -0.5em;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-around;
  & a {
    font-size: 1.5em;
    text-shadow: 0px 0px 2px #00000056;
  }
  & a:hover {
    text-shadow: -2px 0px 15px #000000bf;
  }
}

@media screen and (max-width: 900px) {
  .Navbar {
    font-size: 1em;
  }
}

@media only screen and (min-width: 280px) and (max-width: 555px) {
  header {
   
    padding: 0;
  }
  .Burger_Icon {
    display: block;
    font-size: 38px;
    position: absolute;
    top: 55px;
    left: 300px;
    border: none;
    background-color: white;
  
  }
  #the {
    top: 17px;
    left: 25px;
    font-size: 20px;
  }
  #sir {
    top: 17px;
    left: 13px;
    font-size: 29px;
  }

  .DropDown {
    position: absolute;
    flex-direction: column;
    background-color: white;
    height: 12em;
    width: 100%;
    padding: 0px 20%;
    margin-top: auto;
    box-shadow: inset 0 0 5px gray;
    border-radius: 0px 0px 10px 10px;

    & a {
      text-align: center;
      border-top: 1px solid #f4f4f4;
    }
  }
  .Navbar {
    height: 0;
    border: none;
    padding: 0;
    margin: 0;
    & a {
      font-size: 0;
    }
  }
}
